services:

  backend:
    container_name: quantum-circuit-debugger-backend
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PORT=8000

  frontend:
    container_name: quantum-circuit-debugger-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - PORT=3000
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
